header {
    width: 100%;
    min-height: 3em;
    background-color: #eee;
}

html:not([data-scroll='0']) {
    
        body {
          padding-top: 3em;
        }
      
      header {
        position: fixed;
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }
        
        }


// Cosmetics
header {
    box-sizing: border-box;
        padding: 1em;
            transition: background-color .25s;
}

main {
    padding:0 1em;
    }
